@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@500;600;700;800;900&display=swap");

:root {
  /* font */
  --font-inter: "Inter", sans-serif;
  --font-raleway: "Raleway", sans-serif;

  /* color */
  --background-color: #fff;
  --color-black: #2f3e46;
  --color-font: #cad2c5;
  --color-font-secondary: #82b2ca;

  /* shadow */
  --shadow-primary: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --shadow-secondary: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

.container {
  width: 100%;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  margin-right: 40px;
}

.nav-logo h1 {
  font-size: 28px;
  color: var(--color-black);
  font-family: var(--font-raleway);
  font-weight: 800;
}

.nav-list {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo-resp {
  display: none;
}

.nav-link:not(:last-child) {
  margin-right: 40px;
}

.nav-link a {
  color: var(--color-font);
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.nav-link a:hover {
  color: var(--color-black);
}

.nav-link .active {
  color: var(--color-black);
  font-weight: 600;
}

.search {
  box-shadow: var(--shadow-secondary);
  height: 44px;
  width: 44px;
  border-radius: 30px;
  padding: 12px;
  position: relative;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
  margin-left: 25px;
}

.search-active {
  width: 300px;
}

.search-input {
  color: var(--color-black);
  width: calc(100% - 44px);
  outline: none;
  border: none;
  padding-left: 10px;
  font-family: var(--font-inter);
  font-size: 12px;
  font-weight: 500;
  transition: opacity 0.4s ease-in-out 0.3s;
  opacity: 0;
}

.search-input:-webkit-autofill {
  box-shadow: 0 0 0 100px #fff inset;
}

.search-active .search-input {
  opacity: 1;
}

.search-btn {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--color-black);
  border-radius: 50%;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ri-search-line,
.ri-close-line {
  font-size: 18px;
  color: var(--color-font);
  position: absolute;
  transition: opacity 0.3s, transform 0.3s;
}

.ri-search-line {
  opacity: 1;
}

.ri-close-line {
  opacity: 0;
  transform: rotate(-45deg);
}

.search-active .ri-close-line {
  opacity: 1;
  transform: rotate(0deg);
}

.search-active .ri-search-line {
  opacity: 0;
  transform: rotate(95deg);
}

.toggle {
  display: none;
}

/* home */
.home {
  min-height: calc(100vh - 100px);
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.home-content {
  max-width: 1200px;
  padding: 25px;
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
}

.home-left {
  display: flex;
  flex-direction: column;
}

.home-logo h3 {
  font-size: 26px;
  color: var(--color-font-secondary);
  font-weight: 800;
  font-family: var(--font-raleway);
  margin-bottom: 30px;
}
.home-title {
  margin-bottom: 30px;
}

.home-title h1 {
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-black);
  font-size: 54px;
  letter-spacing: 0.1rem;
  line-height: 60px;
}

.home-icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.home-icon a {
  display: flex;
  flex-direction: column;
  color: var(--color-black);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05rem;
  font-family: var(--font-inter);
  margin-right: 40px;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s;
}

.home-icon a:hover {
  /* transform: scale(1.1); */
  background-color: var(--color-black);
  color: var(--background-color);
  box-shadow: var(--shadow-secondary);
}

.home-icon a i {
  font-size: 20px;
  margin-bottom: 8px;
}

.home-btn {
  margin-bottom: 60px;
  margin-left: 20px;
}

.home-btn a {
  color: var(--color-black);
  font-size: 16px;
  font-weight: 600;
  font-family: var(--font-inter);
  position: relative;
  transition: all 0.3s ease-in-out 0.3s;
}

.home-btn a:hover {
  color: var(--background-color);
}

.home-btn a::before {
  content: "";
  width: 50px;
  height: 50px;
  left: -20px;
  top: -16px;
  border-radius: 30px;
  background-color: var(--color-font-secondary);
  position: absolute;
  z-index: -1;
  transition: all ease-in-out 0.3s;
}

.home-btn a:hover::before {
  width: 122%;
}

.home-sosial {
  display: flex;
  align-items: center;
}

.home-sosial a {
  margin-right: 20px;
}

.home-sosial i {
  color: var(--color-black);
  font-size: 20px;
}

.home-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-right-content {
  display: flex;
  flex-direction: column;
}

.home-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 16px;
  overflow: hidden;
}

.radius {
  border-radius: 16px !important;
}
.home-images {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 16px;
}

.home-right-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  position: relative;
}

.home-img-text {
  overflow: hidden;
  margin-left: 0 !important;
  width: 200px;
  margin-right: 0 !important;
}

.home-img-title h5 {
  font-family: var(--font-inter);
  font-size: 20px;
  font-weight: 800;
  color: var(--color-black);
  letter-spacing: 0.02rem;
}

.home-img-title p {
  font-family: var(--font-inter);
  font-size: 12px;
  font-weight: 400;
  color: var(--color-black);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}

.home-right-btn {
  position: relative;
  width: 90px;
  top: 5px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: var(--color-black);
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  border-radius: 20px;
  box-shadow: var(--shadow-primary);
}

.swiper-button-next i,
.swiper-button-prev i {
  color: var(--background-color);
}

/* about */
.about {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.about-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.about-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  width: 100%;
  margin-bottom: 60px;
}

.about-text-left h1 {
  color: var(--color-black);
  font-family: var(--font-inter);
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.about-text-right {
  padding-left: 100px;
}
.about-text-right p {
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 400;
  color: var(--color-font);
  line-height: 26px;
  letter-spacing: 0.02rem;
}

.about-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  position: relative;
}

.about-btn-tabs {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: var(--font-inter);
  font-weight: 600;
  letter-spacing: 0.02rem;
  color: var(--color-black);
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  z-index: 10;
  transition: all 0.5s ease-in-out;
  height: 90px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.about-btn-tabs.active {
  color: var(--background-color);
  background-color: var(--color-black);
  height: 90px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* .block {
  position: absolute;
  width: 288px;
  height: 120px;
  top: 0;
  left: -2px;
  background-color: var(--color-black);
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: all .5s ease-in-out;
} */

.about-btn-tabs i {
  margin-right: 10px;
  font-size: 22px;
}
.about-content-tabs {
  background-color: var(--color-black);
  padding: 40px 80px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.content-tabs {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  place-items: center;
  animation: moving 0.5s ease;
}

@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.content-tabs.active {
  display: grid;
}

.content-tabs-left {
  display: flex;
  flex-direction: column;
}

.content-tabs-left h2 {
  color: var(--background-color);
  font-family: var(--font-inter);
  letter-spacing: 0.03rem;
  font-size: 34px;
  margin-bottom: 20px;
}

.content-tabs-left p {
  color: var(--color-font);
  font-family: var(--font-inter);
  font-weight: 300;
  letter-spacing: 0.05rem;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 36px;
}

.content-tabs-left a {
  color: var(--background-color);
  font-family: var(--font-inter);
  background-color: var(--color-font-secondary);
  width: fit-content;
  padding: 14px 40px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.content-tabs-right {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}

.tabs-img {
  width: 100%;
  height: 300px;
}

@media (max-width: 825px) {
  .toggle {
    display: flex;
    position: fixed;
    bottom: 5%;
    right: 25px;
    width: 44px;
    height: 44px;
    box-shadow: var(--shadow-secondary);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--background-color);
    z-index: 999 !important;
  }

  .ri-add-line,
  .ri-menu-line {
    position: absolute;
    font-size: 22px;
    color: var(--color-black);
    transition: opacity 0.3s, transform 0.3s;
  }

  .ri-add-line {
    opacity: 0;
  }

  .list-active ~ .toggle .ri-add-line {
    opacity: 1;
    transform: rotate(45deg);
    font-size: 24px;
  }
  .list-active ~ .toggle .ri-menu-line {
    opacity: 0;
  }

  .nav-list {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    bottom: 15%;
    right: -40%;
    box-shadow: var(--shadow-secondary);
    padding: 20px 26px;
    border-radius: 6px;
    max-width: 200px;
    width: 100%;
    opacity: 0;
    z-index: 999;
    background-color: var(--background-color);
    transition: opacity 1s ease, right 1s;
  }
  .logo-resp {
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #cad2c5;
  }
  .nav-link {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
  }

  .nav-link:nth-child(2) {
    transition-delay: 0.3s;
  }
  .nav-link:nth-child(3) {
    transition-delay: 0.6s;
  }
  .nav-link:nth-child(4) {
    transition-delay: 0.9s;
  }
  .nav-link:nth-child(5) {
    transition-delay: 1.2s;
  }

  .list-active .nav-link:nth-child(2),
  .list-active .nav-link:nth-child(3),
  .list-active .nav-link:nth-child(4),
  .list-active .nav-link:nth-child(5) {
    opacity: 1;
    transition-delay: 0;
  }

  .logo-resp h1 {
    font-family: var(--font-raleway);
    font-size: 24px;
    color: var(--color-black);
    font-weight: 800;
  }

  .nav-link:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .list-active {
    opacity: 1;
    right: 25px;
  }

  .nav-logo {
    margin-right: 0px;
  }
  /* home */

  .home-left {
    text-align: center;
  }

  .home-logo h3 {
    margin-bottom: 16px;
  }

  .home-title {
    margin-bottom: 20px;
  }

  .home-icon {
    align-items: center;
    justify-content: center;
  }

  .home-icon a {
    margin: 0 20px;
  }

  .home-btn {
    margin-bottom: 30px;
  }

  .home-sosial {
    align-items: center;
    justify-content: center;
  }

  .home-sosial a {
    margin: 0 10px;
  }

  .home-img {
    width: 300px;
    height: 300px;
  }
  .home-images {
    height: 300px;
  }
  .home-right-btn {
    top: 7px;
  }
  /* about */

  .about-btn-tabs {
    font-size: 12px;
    height: 60px !important;
    flex-direction: column;
  }

  .about-btn-tabs i {
    font-size: 18px;
    margin-right: 0;
    margin-bottom: 5px;
  }

  .about-content-tabs {
    padding: 40px 30px;
  }
  .content-tabs {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .content-tabs-right{
    display: none;
  }

  .about-text-right {
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  .home {
    padding: 0 25px 25px;
  }

  .home-content,
  .about-top {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }

  .home-logo h3 {
    font-size: 22px;
  }
  .home-title h1 {
    font-size: 36px;
    line-height: 42px;
  }

  .home-icon a {
    font-size: 12px;
    margin: 0 8px;
  }
  .about-btn-tabs {
    font-size: 10px;
    padding: 0 5px;
  }

  .about-btn-tabs i {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .about-content-tabs {
    padding: 40px 20px;
  }

  .content-tabs {
    gap: 2rem;
  }

  .content-tabs-left p{
    letter-spacing: 0;
  }
  .about-btn-tabs.active {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.about-top{
  margin-bottom: 40px;
}

.about-content-tabs{
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
}

@media (max-width: 390px) {
  .home-content,
  .about-top {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  .home-img {
    width: 240px;
    height: 240px;
  }
  .home-images {
    height: 240px;
  }
  .home-img-text {
    width: 100px;
  }

  .home-img-title h5 {
    font-size: 16px;
  }

  .home-img-title p {
    font-size: 10px;
  }
  .home-right-text {
    margin-top: 20px;
  }

  /* about */
  .about-text-left h1{
    font-size: 44px;
    font-weight: 700;
  }
  .about-text-left p{
    font-size: 16px;
  }
  .tabs-img {
    width: 100%;
    height: 100px;
}
  .content-tabs {
    gap: 2rem;
  }

  .content-tabs-left h2{
    font-size: 28px;
  }

  .content-tabs-left p{
    font-size: 14px;
  }

  .content-tabs-left a{
    font-size: 16px;
  }
}
