@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@500;600;700;800;900&display=swap");

:root {
  /* font */
  --font-inter: "Inter", sans-serif;
  --font-raleway: "Raleway", sans-serif;

  /* color */
  --background-color: #fff;
  --color-black: #2f3e46;
  --color-font: #cad2c5;
  --color-font-secondary: #82b2ca;

  /* shadow */
  --shadow-primary: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --shadow-secondary: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 100%;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  margin-right: 40px;
}

.nav-logo h1 {
  font-size: 28px;
  color: var(--color-black);
  font-family: var(--font-raleway);
  font-weight: 800;
}

.nav-list {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo-resp {
  display: none;
}

.nav-link:not(:last-child) {
  margin-right: 40px;
}

.nav-link a {
  color: var(--color-font);
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.nav-link a:hover {
  color: var(--color-black);
}

.nav-link .active {
  color: var(--color-black);
  font-weight: 600;
}

.search {
  box-shadow: var(--shadow-secondary);
  height: 44px;
  width: 44px;
  border-radius: 30px;
  padding: 12px;
  position: relative;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
  margin-left: 25px;
}

.search-active {
  width: 300px;
}

.search-input {
  color: var(--color-black);
  width: calc(100% - 44px);
  outline: none;
  border: none;
  padding-left: 10px;
  font-family: var(--font-inter);
  font-size: 12px;
  font-weight: 500;
  transition: opacity 0.4s ease-in-out 0.3s;
  opacity: 0;
}

.search-input:-webkit-autofill {
  box-shadow: 0 0 0 100px #fff inset;
}

.search-active .search-input {
  opacity: 1;
}

.search-btn {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--color-black);
  border-radius: 50%;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ri-search-line,
.ri-close-line {
  font-size: 18px;
  color: var(--color-font);
  position: absolute;
  transition: opacity 0.3s, transform 0.3s;
}

.ri-search-line {
  opacity: 1;
}

.ri-close-line {
  opacity: 0;
  transform: rotate(-45deg);
}

.search-active .ri-close-line {
  opacity: 1;
  transform: rotate(0deg);
}

.search-active .ri-search-line {
  opacity: 0;
  transform: rotate(95deg);
}

.toggle {
  display: none;
}

/* home */
.home {
  width: 100%;
  height: calc(100vh - 100px);
}

.home-content {
  max-width: 1200px;
  margin: auto;
  padding: 25px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  height: 100%;
}

.home-left {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.home-logo,
.home-tittle {
  margin-bottom: 28px;
}

.home-logo h3 {
  font-family: var(--font-raleway);
  font-weight: 800;
  font-size: 28px;
  color: var(--color-font-secondary);
}
.home-icon {
  position: relative;
  margin-bottom: 60px;
  z-index: 3;
}
.home-btn {
  margin-left: 20px;
}

.home-btn a {
  font-family: var(--font-inter);
  color: var(--color-black);
  font-size: 16px;
  font-weight: 600;
  position: relative;
  z-index: 2;
  letter-spacing: 0.1rem;
  transition: color 0.5s ease-in-out 0.5s;
}

.home-btn a:hover {
  color: var(--background-color);
}

.home-btn a::before {
  position: absolute;
  content: "";
  width: 44px;
  height: 44px;
  border-radius: 28px;
  background-color: var(--color-font-secondary);
  z-index: -1;
  left: -20px;
  top: -12px;
  transition: width 0.5s ease-in;
}

.home-btn a:hover::before {
  width: 120%;
  border-radius: 28px;
  color: var(--color-font);
}

.home-tittle h1 {
  color: var(--color-black);
  font-family: var(--font-inter);
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 0.05rem;
  line-height: auto;
}

.home-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-icon a {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  color: var(--color-black);
  font-family: var(--font-inter);
  font-size: 12px;
  font-weight: 500;
}

.home-icon a i {
  font-size: 20px;
  margin-bottom: 8px;
}

.home-icon a:first-child,
.home-icon a:last-child {
  width: 60px;
}

.home-icon a:nth-child(2) {
  width: 85px;
}

.home-right {
  /* background-color: #2f3e46; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-cards {
  max-width: 400px;
  height: 400px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.home-thumbs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-top: 20px;
}

.home-thumb {
  width: 120px;
  margin-left: 0 !important;
}

.home-text-img h1 {
  color: var(--color-black);
  font-size: 20px;
  font-family: var(--font-inter);
  font-weight: 800;
  line-height: 26px;
}

.home-text-img p {
  color: var(--color-black);
  font-size: 14px;
  font-family: var(--font-inter);
  font-weight: 400;
}

.btn-swiper {
  position: relative;
  width: 90px;
  top: 8px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px !important;
  height: 30px !important;
  background-color: var(--background-color);
  box-shadow: var(--shadow-secondary);
  border-radius: 20px;
}

.ri-arrow-left-line,
.ri-arrow-right-line {
  color: var(--color-black) !important;
}

.radius {
  border-radius: 20px !important;
}

.swiper-slide-next {
  border-radius: 20px !important;
}

@media (max-width: 780px) {
  .toggle {
    display: flex;
    position: fixed;
    bottom: 5%;
    right: 25px;
    width: 44px;
    height: 44px;
    box-shadow: var(--shadow-secondary);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--background-color);
    /* z-index: 999 !important; */
  }

  .ri-add-line,
  .ri-menu-line {
    position: absolute;
    font-size: 22px;
    color: var(--color-black);
    transition: opacity 0.3s, transform 0.3s;
  }

  .ri-add-line {
    opacity: 0;
  }

  .list-active ~ .toggle .ri-add-line {
    opacity: 1;
    transform: rotate(45deg);
    font-size: 24px;
  }
  .list-active ~ .toggle .ri-menu-line {
    opacity: 0;
  }

  .nav-list {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    bottom: 15%;
    right: -40%;
    box-shadow: var(--shadow-secondary);
    padding: 20px 26px;
    border-radius: 6px;
    max-width: 200px;
    width: 100%;
    opacity: 0;
    z-index: 999;
    background-color: var(--background-color);
    transition: opacity 1s ease, right 1s;
  }
  .logo-resp {
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #cad2c5;
  }
  .nav-link {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
  }

  .nav-link:nth-child(2) {
    transition-delay: 0.3s;
  }
  .nav-link:nth-child(3) {
    transition-delay: 0.6s;
  }
  .nav-link:nth-child(4) {
    transition-delay: 0.9s;
  }
  .nav-link:nth-child(5) {
    transition-delay: 1.2s;
  }

  .list-active .nav-link:nth-child(2),
  .list-active .nav-link:nth-child(3),
  .list-active .nav-link:nth-child(4),
  .list-active .nav-link:nth-child(5) {
    opacity: 1;
    transition-delay: 0;
  }

  .logo-resp h1 {
    font-family: var(--font-raleway);
    font-size: 24px;
    color: var(--color-black);
    font-weight: 800;
  }

  .nav-link:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .list-active {
    opacity: 1;
    right: 25px;
  }

  .nav-logo {
    margin-right: 0px;
  }
  /* home */
  .home-left {
    margin: auto;
    text-align: center;
  }

  .home-icon {
    justify-content: center;
  }

  .home-icon a {
    margin-right: 0px;
    margin: 0 20px;
  }

  .home {
    height: auto;
    padding-bottom: 40px;
  }

  .home-content {
    gap: 80px;
  }

  .home-cards {
    max-width: 300px;
    height: 300px;
  }

  img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 480px) {
  .home-content {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .home-logo {
    margin-bottom: 20px;
  }
  .home-logo h3 {
    font-size: 20px;
  }

  .home-tittle h1 {
    font-size: 34px;
    line-height: 40px;
  }
  .home-cards {
    max-width: 260px;
    height: 260px;
  }

  img {
    width: 260px;
    height: 260px;
  }
}

@media (max-width: 390px) {
  .home-content {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }

  .home-tittle h1 {
    font-size: 28px;
    line-height: 34px;
  }

  .home-icon a {
    margin: 0;
  }

  .home-content{
    gap: 40px;
  }

  .home-cards {
    max-width: 200px;
    height: 200px;
  }

  img {
    width: 200px;
    height: 200px;
  }
}
